{% extends 'catalog/base.html' %}
{% load static %}
{% load mytags %}
{% block title %}All Games{% endblock %}

{% block content %}


<div class="all-games">
<nav class="breadcrumbs-nav">
    <ul class="breadcrumbs-list">
        <li class="breadcrumbs-item"><a href="/">Home</a></li>
        <li class="breadcrumbs-item"><a href="/games/">Games</a></li>
    </ul>
</nav>

<div class="filters">
    <div class="sorting">

        <select name="sort" class="select-filters" onchange=applyFilter(this.value)>
            <option value="" selected disabled hidden>Sorting By</option>

            <option value="?{% param_replace sort='rating' %}" {% if request.GET.sort == 'rating' %} selected {% endif %}>Rating</option>
            <option value="?{% param_replace sort='oldest' %}" {% if request.GET.sort == 'oldest' %} selected {% endif %}>Oldest</option>
            <option value="?{% param_replace sort='newest' %}" {% if request.GET.sort == 'newest' %} selected {% endif %}>Newest</option>
            <option value="?{% param_replace sort='popular' %}"{% if request.GET.sort == 'popular'%} selected {% endif %}>By popularity</option>
            <option value="?{% param_replace sort='price-high-to-low' %}"{% if request.GET.sort == 'price-high-to-low' %} selected {% endif %}>Price high to low</option>
            <option value="?{% param_replace sort='price-low-to-high' %}"{% if request.GET.sort == 'price-low-to-high' %} selected {% endif %}>Price low to high</option>
        </select>
    </div>

    <div class="platforms-filter">
        <select name="platform" class="select-filters" onchange="applyFilter(this.value)">
            <option value="" selected disabled hidden>Platform </option>
            <option value="?{% param_replace platform='' %}">All</option>
            {% for platform in platform_list %}
            <option value="?{% param_replace platform=platform.slug %}"{% if request.GET.platform == platform.slug %}selected{% endif %}>{{ platform.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="genres-filter">
        <select name="genre" class="select-filters" onchange="applyFilter(this.value)">
            <option value="" selected disabled hidden>Genres</option>
            <option value="?{% param_replace genre='' %}">All</option>
            {% for genre in genres_list %}
            <option value="?{% param_replace genre=genre.name %}"{% if request.GET.genre == genre.name %}selected{% endif %}>{{ genre.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="stores-filter">
        <select name="store" class="select-filters" onchange="applyFilter(this.value)">
            <option value="" selected disabled hidden>Stores</option>
            <option value="?{% param_replace store='' %}">All</option>
            {% for store in stores_list %}
            <option value="?{% param_replace store=store.name %}"{% if request.GET.store == store.name %}selected{% endif %}>{{ store.name }}</option>
            {% endfor %}
        </select>
    </div>
    {% if request.GET %}
    <button onclick="window.location.href='/games/'" class="reset-filters-btn">Reset filters</button>
    {% endif %}

</div>


<div class="div_catalog">
{% for game in games_list %}

    <a href="{% url 'game' slug=game.slug %}" style="color: inherit; text-decoration: none;" class="c-link">
        <div class="c-image-wrapper">
        {% if game.image %}
            <img src="{{ game.image }}" alt="image" loading="lazy" class="c-image">
        {% else %}
            <img src="{% static 'catalog/images/chernii.jpg' %}" loading="lazy" class="c-image">
        {% endif %}
            <div class="c-rating">
            ★ {{ game.rating|floatformat:1 }}
            </div>
        </div>


        <div class="c-content">
            <h3 class="c-title">{{ game.name }}</h3>

            <div class="c-meta">
                <span>
                    {% if game.developers %}
                        <span class="c-developer">{{ game.developers|default:"" }}</span>
                    {% endif %}
                    <span class="c-price">
                        {% if game.is_free_to_play %}
                            Free to play
                        {% elif game.min_price_info %}
                            <span style="font-weight: bold;">${{ game.min_price_info }}</span>
                        {% endif %}
                    </span>
                </span>
                <span class="c-year">{{ game.released|date:"Y" }}</span>
            </div>

            <div class="c-genres">
                {% for genre in game.genres.all|slice:":3" %}
                    <span class="c-badge">{{ genre.name }}</span>
                {% endfor %}
            </div>

            <div class="c-footer">
                <div class="c-platforms">
                    {% for platform in game.has_icon %}
                        <img src="{% static 'catalog/icons/platforms/' %}{{ platform|lower }}.svg" width="20x" height="20px" loading="lazy">
                    {% endfor %}
                </div>
                {% if game.added %}
                <div class="c-review">
                    <span style="transform: translateY(-3px);">👥</span> {{ game.added }}
                </div>
                {% endif %}
            </div>
        </div>
    </a>


{% endfor %}
</div>
    </div>

{% if games_list.has_next %}
<div class="paginator">

    {% if games_list.has_previous %}
        <a href="?{% param_replace page=games_list.previous_page_number %}" class="page-link">‹ Prev</a>
    {% else %}
        <a href="?{% param_replace page=games_list.number %}" class="page-link">‹ Prev</a>
    {% endif %}

    {% for num in page_range %}
        {% if num == '...' %}
            <span>...</span>
        {% elif num == games_list.number %}
            <a href="?{% param_replace page=num %}"><span class="page-main">{{ num }}</span></a>
        {% else %}
            <a href="?{% param_replace page=num %}"><span class="page-another">{{ num }}</span></a>
        {% endif %}
    {% endfor %}


    {% if games_list.has_next %}
        <a href="?{% param_replace page=games_list.next_page_number %}" class="page-link">Next ›</a>
    {% else %}
        <a href="?{% param_replace page=games_list.number %}" class="page-link">Next ›</a>
    {% endif %}
</div>
{% endif %}

<script>
    function applyFilter(value){
        const url = new URL(window.location.origin + value);
        for (const [key, val] of [...url.searchParams.entries()]) {
            if (val === '') url.searchParams.delete(key);
        }
        const path = window.location.pathname
        window.location.href = path + (url.searchParams.toString() ? '?' + url.searchParams.toString() : '');
    }

</script>
{% endblock %}

