{% extends 'catalog/base.html' %}

{% block title %}All Games{% endblock %}

{% block content %}

<div class="sorting">
    <form method="get" id="sortForm">
        <input type="radio" name="sort" value="oldest" id="oldest" onchange="document.getElementById('sortForm').submit()">
            <label for="oldest">Oldest</label>
        <input type="radio" name="sort" value="newest" id="newest" onchange="document.getElementById('sortForm').submit()">
            <label for="newest">Newest</label>
    </form>
</div>

<div class="div_catalog">
<ul class="ul_catalog">
{% for game in games_list %}
        <li>
            <div class="div_product">
                <div class="product_card">
                    <a href="{% url 'game' slug=game.slug %}" style="color: inherit; text-decoration: none;">
                        <img src="{{ game.image }}" alt="image">
                        <p style="margin-block-start: 2%;">{{game.name}}</p>
                        <div class="game-rating">
                        <div class="stars" style="--rating: {{ game.rating }}"></div>
                        </div>
                    </a>
                </div>
            </div>
        </li>

{% endfor %}
</ul>
</div>
{% endblock %}