<!DOCTYPE html>
{% load static %}
{% load mytags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'catalog/css/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'catalog/images/sprattus_can.png' %}">
    <title>{% block title %}My site{% endblock %}</title>
</head>

<body>
<div class="logo-search">
    <a href="{% url 'home' %}"><img src="{% static 'catalog/images/sprattus_can.png' %}" class="site-logo" ></a>
    <form action="/search/" method="GET" class="search-form">
        <input type="text" name="q" placeholder="Search" style="border: none;">
    </form>
    <button class="burger-btn" id="burgerBtn">☰</button>
</div>

<div class="main-layout">
    <div class="sidebar-overlay" id="sidebarOverlay"></div>
    <aside class="sidebar">
        <button class="sidebar-close-btn" id="sidebarCloseBtn">✕</button>
        <h2><a href="{% url 'home' %}" class="all-games-name">Home</a></h2>
        <a href="/games/" class="all-games-name"><h3>All Games</h3></a>

        <div class="all_items">
        <div class="items-block">
        <div class="list-toggle">
        <a href="{% url 'stores' %}" class="sidebar-items">Stores</a>
        </div>

        <div class="stores-children" id="storesChildren" >
            {% for store in all_stores %}
                <a href="/games/?{% param_replace store=store %}">{{ store.name }}</a>
            {% endfor %}
        </div>
        </div>

        <div class="items-block">
        <div class="list-toggle">
        <a href="{% url 'genres' %}" class="sidebar-items">Genres</a>
        </div>

        <div class="stores-children" id="GenresChildren" >
            {% for genre in all_genres %}
                <a href="/games/?{% param_replace genre=genre %}" >{{ genre.name }}</a>
            {% endfor %}
        </div>
        </div>

        <div class="items-block">
        <div class="list-toggle">
        <a href="{% url 'genres' %}" class="sidebar-items">Platforms</a>

        </div>
        <div class="stores-children" id="PlatformsChildren" >
            {% for platform in all_platforms %}
                <a href="/games/?{% param_replace platform=platform %}" >{{ platform.name }}</a>
            {% endfor %}
        </div>
        </div>
        </div>
    </aside>

    <main class="content">
        {% block content %}
        {% endblock %}
    </main>

    <aside class="sidebar-ads">
        <div class="unit-ad">
            <p>Advertising block</p>
        </div>
    </aside>
</div>
<footer class="footer">
    <div class="footer-container">
        <div class="footer-columns">
            <div class="footer-col">
                <h3>Catalog</h3>
                <ul>
                    <li><a href="/games/" >All Games</a></li>
                    <li><a href="{% url 'genres' %}">Genres</a></li>
                    <li><a href="{% url 'platforms' %}">Platforms</a></li>
                </ul>
            </div>
<!--            <div class="footer-col">-->
<!--                <h3>About site</h3>-->
<!--                <ul>-->
<!--                    <li><a>About project</a></li>-->
<!--                    <li><a>Contact Us</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="footer-col">-->
<!--                <h3>Legal Info</h3>-->
<!--                <ul>-->
<!--                    <li><a style="text-decoration: underline;">Privacy Policy</a></li>-->
<!--                    <li><a style="text-decoration: underline;">Terms & Conditions</a></li>-->
<!--                </ul>-->
<!--            </div>-->
        </div>

        <div class="footer-bottom">
            <p>© 2026 Mysite. Prices are for informational purposes only.</p>
        </div>

    </div>
</footer>
<script>

    document.querySelectorAll('.stores-children').forEach(el => {
        el.addEventListener('scroll', function(){
            const atBottom = this.scrollHeight - this.scrollTop <= this.clientHeight + 5;
            this.closest('.items-block').classList.toggle('scrolled-end', atBottom);
        });
    });

    const burgerBtn = document.getElementById('burgerBtn');
    const sidebar = document.querySelector('.sidebar');
    const closeBtn = document.getElementById('sidebarCloseBtn');
    const overlay = document.getElementById('sidebarOverlay');

    burgerBtn.addEventListener('click', () => {
        sidebar.classList.toggle('open');
        overlay.classList.toggle('open');
        document.body.style.overflow = 'hidden';
    });

    closeBtn.addEventListener('click', () => {
        sidebar.classList.remove('open');
        overlay.classList.remove('open');
        document.body.style.overflow = '';
    });

    overlay.addEventListener('click', () => {
        sidebar.classList.remove('open');
        overlay.classList.remove('open');
        document.body.style.overflow = '';
    });
</script>

</body>
</html>

