{% extends 'catalog/base.html' %}
{% load static %}
{% block title %}{{ game.name }}{% endblock %}

{% block content %}

<style>
body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(26, 26, 26, 0.9)), url('{{game.image}}');
    background-size: cover;
    background-position: center;
    }
</style>


<div class="game-header">

    <nav class="breadcrumbs-nav">
        <a href="javascript:history.back()" class="back-to-results">
        &larr; Back
    </a>
    <ul class="breadcrumbs-list">
        <li class="breadcrumbs-item"><a href="/">Home</a></li>
        <li class="breadcrumbs-item"><a href="/games/">Games</a></li>
        <li class="breadcrumbs-item">{{ game.name }}</li>
    </ul>

</nav>

<h1 style="margin-top: 10px;">{{ game.name }}</h1>

<div class="gallery-stores">
    <div class="store-img">
<div class="slider-wrapper" style="position: relative;">
    <button class="slider-btn left-btn">❮</button>

<div class="screenshots-gallery" id="game-slider">
    {% if game.screenshots.all %}
        {% for screenshot in game.screenshots.all %}
            <img src="{{ screenshot.image }}" loading="lazy">
        {% endfor %}
    {% else %}
        <img src="{% static 'catalog/images/chernii.jpg' %}" loading="lazy">
    {% endif %}
</div>

    <button class="slider-btn right-btn">❯</button>
</div>
    </div>

<div class="info-container">

    <div class="info-platforms">
        <span style="color: rgb(140, 140, 140);">Platforms: </span>
        {% for platform in game.platforms.all %}
            <span class="info-platforms-name">{{ platform.name }}
                {% if platform.has_icon %}
                    <img src="{% static 'catalog/icons/platforms/' %}{{ platform.slug }}.svg" width="20x" height="20px" loading="lazy">
                {% endif %}
            {% if not forloop.last %},{% endif %}
            </span>
        {% endfor %}
    </div>

    <div class="info-released">
        <span style="color: rgb(140, 140, 140);">Released: </span>
        <span>{{ game.released }}</span>
    </div>

    <div class="info-genres">
        <span style="color: rgb(140, 140, 140);">Genres: </span>
        {% for genre in game.genres.all %}
            <span class="genre">{{ genre.name }}{% if not forloop.last %},{% endif %}</span>
        {% endfor %}
    </div>


    <div class="rating-container">
    {% for rating in game.detail_ratings.all %}
    <div class="rating-row">
        <div class="rating-info">
            <span class="title">{{ rating.title|title }}</span>
            <span class="percent">{{ rating.percent }}%</span>
        </div>
        <div class="rating-bar">
            <div class="rating-bar-fill" style="width: {{ rating.percent|safe }}%;"></div></div>
        </div>
    {% endfor %}
    </div>

</div>
</div>

    <div class="detail-info">

        <div class="stores">

            {% for game_price in game_prices %}
                <div class="store-card">
                    <span class="img-title" loading="lazy">
                    <img src="{% static 'catalog/icons/stores/' %}{{ game_price.store.clean_slug }}.svg" loading="lazy">
                    <a href="{{ game_price.url }}" target="_blank" rel="noopener noreferrer">
                        <p>{{ game_price.store }}</p></a></span>
                        <span class="store-price">
                        {% if game_price.price %}
                                {% if game_price.retail_price != game_price.price %}
                                    <s style="color: gray;">${{ game_price.retail_price }}</s>
                                {% endif %}
                            ${{ game_price.price }}
                            {% else %}
                                <span class="view-store">View</span>
                            {% endif %}
                        </span>
                </div>
            {% endfor %}
        </div>

        <div class="description">
        <h1 style="margin-top: 0;">Description</h1>
        <hr>
        {{ game.description|safe }}
        </div>


        <div class="requirements">
            {% for requirement in game.requirements.all %}
                {% if requirement.recommended %}
                    <div class="requirement-card">
                    <h2 style="margin-top: 5px;">Requirements for {{ requirement.platform_name }}</h2>
                    <hr>
                    <div class="rq-min-max">
                        <div class="rq-min">{{ requirement.minimum|safe }}</div>
                        <div class="rq-max">{{ requirement.recommended|safe }}</div>
                    </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
</div>

</div>
<script>

    const slider = document.getElementById('game-slider');
    const leftBtn = document.querySelector('.left-btn');
    const rightBtn = document.querySelector('.right-btn');

    leftBtn.addEventListener('click', () => {
        slider.scrollBy({left: -slider.clientWidth, behavior: 'smooth'});
    });

    rightBtn.addEventListener('click', () => {
        slider.scrollBy({left: slider.clientWidth, behavior: 'smooth'});
    });
</script>
{% endblock %}

