{% extends 'catalog/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}

<div class="new-items">

    {% for offer, list in offers_list.items %}
        <h1>{{ offer }}</h1>
        <div class="carousel-wrapper" style="position: relative; border-radius: 8px;">
        <button class="carousel-btn carousel-left-btn" onclick="scrollCarousel('track-{{ forloop.counter }}', -1)">&#10094;</button>
        <div class="carousel-track" id="track-{{ forloop.counter }}">
        {% for item in list %}
            <div class="product-card">
                <a href="{% url 'game' slug=item.slug %}" style="color: inherit; text-decoration: none;">
                    {% if item.image %}
                        <img src="{{ item.image }}" alt="image" loading="lazy">
                    {% else %}
                        <img src="{% static 'catalog/images/chernii.jpg' %}" loading="lazy">
                    {% endif %}
                    <p style="margin-block-start: 2%;">{{item.name}}</p>
                    <div class="game-rating">
                        <div class="stars" style="--rating: {{ item.rating }}"></div>
                    </div>
                </a>
            </div>
        {% endfor %}
        </div>
        <button class="carousel-btn carousel-right-btn" onclick="scrollCarousel('track-{{ forloop.counter }}', 1)">&#10095;</button>
        </div>
    {% endfor %}
</div>

<script>
    function scrollCarousel(trackId, direction){
        const track = document.getElementById(trackId);
        const card = track.querySelector('.product-card');
        if(card){
            const widthcard = card.offsetWidth + 20;
            track.scrollBy({
                left: widthcard * 2 * direction,
                behavior: 'smooth'
            });
        }
    }
</script>


{% endblock %}