{% extends 'catalog/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="div_catalog">
<ul class="ul_catalog">
{% for game in games_list %}
        <li>
            <div class="div_product">
                <div class="product_card">
                <img src="{{ game.image }}" alt="image">
                    {{game.name}}
                    <div class="game-rating">
                        <div class="stars" style="--rating: {{ game.rating }}"></div>
                    </div>
                </div>
            </div>
        </li>

{% endfor %}
</ul>
</div>
{% endblock %}