{% extends 'catalog/base.html' %}
{% load static %}

{% block title %} Searched: {{ searched }} {% endblock %}

{% block content %}

{% if searched %}
<h2>Search query results: {{ searched }}</h2>
{% endif %}

<div class="div_catalog">
{% for game in games_list %}

    <a href="{% url 'game' slug=game.slug %}" style="color: inherit; text-decoration: none;" class="c-link">
        <div class="c-image-wrapper">
        {% if game.image %}
            <img src="https://images.weserv.nl/?url={{ game.image }}&output=webp&w=500&q=80" alt="image" loading="lazy" class="c-image">
        {% else %}
            <img src="{% static 'catalog/images/chernii.jpg' %}" loading="lazy" class="c-image" alt="unknown-image">
        {% endif %}
            {% if game.rating != 0.0 %}
                <div class="c-rating">
                    ★ {{ game.rating|floatformat:1 }}
                </div>
                {% endif %}
        </div>


        <div class="c-content">
            <h3 class="c-title">{{ game.name }}</h3>

            <div class="c-meta">
                <span>
                    {% if game.developers %}
                        <span class="c-developer">{{ game.developers|default:"" }}</span>
                    {% endif %}
                    <span class="c-price">
                        {% if game.is_free_to_play %}
                            Free to play
                        {% elif game.min_price_info %}
                            {% if game.max_price_info and game.max_price_info != game.min_price_info %}
                                <s style="font-size: 12px;">${{ game.max_price_info }}</s>
                            {% endif %}
                            <span style="font-weight: bold;">${{ game.min_price_info }}</span>
                        {% endif %}
                    </span>
                </span>
                <span class="c-year">{{ game.released|date:"Y" }}</span>
            </div>

            <div class="c-genres">
                {% for genre in game.genres.all|slice:":3" %}
                    <span class="c-badge">{{ genre.name }}</span>
                {% endfor %}
            </div>

            <div class="c-footer">
                <div class="c-platforms">
                    {% for platform in game.has_icon %}
                        <img src="{% static 'catalog/icons/platforms/' %}{{ platform|lower }}.svg" width="20x" height="20px" loading="lazy" alt="{{ platform }}">
                    {% endfor %}
                </div>
                {% if game.added %}
                <div class="c-review">
                    <span style="transform: translateY(-3px);">👥</span> {{ game.added }}
                </div>
                {% endif %}
            </div>
        </div>
    </a>


{% endfor %}
</div>

{% endblock %}